#####################################
###        Extruder config        ###
#####################################

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
# Value from the Orbiter 2.0 config
full_steps_per_rotation: 200
rotation_distance: 4.637 
nozzle_diameter: 1.8
filament_diameter: 1.8
max_extrude_cross_section: 15.0
max_extrude_only_velocity: 120
# Mapped to H0
heater_pin: PC8
# Used for the phaetus rapido thermistor
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
control: pid
pid_Kp: 24.627
pid_Ki: 2.691
pid_Kd: 56.333
min_temp: 0
max_temp: 250

#####################################
###    Extruder stepper config    ###
#####################################

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
# Orbiter 2.0 tuned values
interpolate: true
run_current: 0.650
hold_current: 0.100
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4