#####################################
###  Rotating bed (manual stepper) ##
#####################################

[manual_stepper bed]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
# 80T:20T belt → 4:1 reduction, 90° per motor revolution
rotation_distance: 90
velocity: 45
accel: 1000

[tmc2209 manual_stepper bed]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999
