#####################################
###  Z axis (leadscrew nozzle ht) ###
#####################################

[manual_stepper z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
# 2 mm lead, 4 mm pitch leadscrew
rotation_distance: 4
velocity: 10
accel: 50
endstop_pin: PC15

[tmc2209 manual_stepper z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999
